.screen{
    background-color: #9C835F;
    width: 100vw;
    height: 100vh;
}
.navbar{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin-left: 20px;
    font-size: 36px;
}
.back{
    color: burlywood;
}
.title{
    color: #F9B23D;
    font-family: Arial, Helvetica, sans-serif;
}
.player1{
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
}
.content{
    display: flex;
    flex-direction: row;
    justify-content: center;
 
}
.com{
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
}
.labelPlayer1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: black;
    margin-left: 10px;
    text-align: center;
}
.batup1{
    display: flex;
    justify-content: center;
}
.kertasp1{
    display: flex;
    justify-content: center;
}
.guntingp1{
    display: flex;
    justify-content: center;
}
.labelCom{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: black;
    text-align: center;
}
.middle{
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    gap: 100px;
}
.vs{
    font-size: 100px;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-align: center;
}
.refresh{
    display: flex;
    justify-content: center;
}
/* .playerOptions {
    transition: 5s;
    position: relative;
    top:0;
    cursor: pointer;
} */

.playerOptions:hover, .playerOptions:focus, .playerOptions:active{
    background-color: white;
}
:target{
    background-color: white;
}

/* .playerOptions:active{
    top: 2px;
} */
.result{
    background-color: aqua;
}